[Unit]
Description=Boiler Control - Internal module

[Service]
ExecStart=/opt/boilercontrol/internal/main.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/boilercontrol/internal

[Install]
WantedBy=multi-user.target
